script(src='/jquery/jquery.min.js')
script(src='/bower_components/jquery.countdown/dist/jquery.countdown.js')
link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')

.container
    .row
        .col.col-md-12
            h2 Bu islem icin yetkiniz yok, Anasayfaya yonlendiriliyorsunuz...

script.
    setTimeout(function(){
        $(location).attr('href' , '/');
    } , 2000 );