//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

//html
//    title Giris Ekrani
//    body
//    form( method="post" action="/giris" )
//        div
//            label Kullanici Adi:
//            input( type="text" name="isim" )
//        div
//            label Sifre:
//            input( type="password" name="sifre" )
//        div
//            input( type="submit" value="Giris" )
 
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Çorum Dijital Teknoloji Koleji Bulut Yönetim
    // Bootstrap Core CSS
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='/metisMenu/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/dist/css/sb-admin-2.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .row
        .col-md-4.col-md-offset-4
          .login-panel.panel.panel-default
            .panel-heading
              h3.panel-title Giriş Yapınız
            .panel-body
              form(role='form' method='post' action='/giris')
                fieldset
                  .form-group
                    input.form-control(placeholder='İsim', name='isim', type='text', autofocus='')
                  .form-group
                    input.form-control(placeholder='Şifre', name='sifre', type='password', value='')
                  .checkbox
                    label
                      input(name='remember', type='checkbox', value='Beni Hatırla' checked)
                      | Remember Me
                  // Change this to a button or input when using this as a form
                  input.btn.btn-lg.btn-success.btn-block(type='submit' value='Giriş')
    // jQuery
    script(src='/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='/metisMenu/metisMenu.min.js')
    // Custom Theme JavaScript
    script(src='/dist/js/sb-admin-2.js')
