//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    
extends ../layout

block content
    h2.page-header Kullanici Ekle
    form(id='kullaniciEklemeFormu' role='form' method='post' action='kullaniciEkle')
        fieldset
            .form-group.has-feedback
                label( for='isimInput' class='control-label') İsim
                input.form-control(id='isimInput' placeholder='İsim', name='isim', type='text', autofocus='', dataerror='Isim giriniz.' )
                span.glyphicon.form-control-feedback
            .form-group.has-feedback
                label( for='email-input' class='control-label')  Email
                input.form-control(id='email-input' placeholder='Email' name='email' type='email', autofocus='')
                span.glyphicon.form-control-feedback
            .form-group.has-feedback
                label( for='sifre-input' class='control-label') Şifre
                input.form-control(id='sifre-input' placeholder='Şifre', name='sifre', type='password', value='')
                span.glyphicon.form-control-feedback
            .form-group.has-feedback
                label( for='sifre-input' class='control-label') Şifre Tekrar
                input.form-control(id='sifre-input-tekrar' placeholder='Şifre Tekrar', name='sifreTekrar', type='password', value='')
                span.glyphicon.form-control-feedback    
            .form-group.has-feedback
                label(for='telefon-input' class='control-label') Telefon
                input.form-control(id='telefon-input' placeholder='Telefon', name='telefon' , type='text', value='')
                span.glyphicon.form-control-feedback
            .form-group.has-feedback
                label( for='rol-input' class='control-label' ) Yetki
                select.form-control(id='rol-input' placeholder='Yetki' name='rol')
                    option(value='#{global.Roller.Admin}') Admin
                    option(value='#{global.Roller.Ogretmen}') Öğretmen
                    option(value='#{global.Roller.Ogrenci}') Öğrenci
                    option(value='#{global.Roller.Veli}') Veli
                //- select
                span.glyphicon.form-control-feedback
            .form-group
                .col-xs-6
                .col-xs-6
                    input.pull-right.btn.btn-lg.btn-success.btn-block(type='submit' value='Ekle')
            // -form-group
        //- fieldset
    //- form
    if sonuc
        case sonuc
            when enums.FormSonuc.Success
                .alert.alert-success
                    a(href='#' class='close' data-dismiss='alert' aria-label='close') x
                    strong Islem Basarili
                    |   #{ mesaj }
    script.
        $(document).ready(function () {
                $('#kullaniciEklemeFormu').validate({
                    rules: {
                        isim: {
                            required: true
                        } ,
                        email: {
                            email: true
                        } ,
                        sifre: {
                            required: true
                        } ,
                        sifreTekrar : {
                            required : true ,
                            equalTo : '#sifre-input'
                        }
                    } ,
                    messages:{
                        isim:  {
                            required: "Lutfen bir isim giriniz"
                        },
                        email:  {
                            email: "Lutfen gecerli bir mail adresi giriniz"
                        },
                        sifre:{                            
                            required:"Lutfen sifre giriniz"
                        } ,
                        sifreTekrar : {
                            equalTo : 'Sifreler eslemiyor' ,
                            required : 'Sifreyi tekrardan girmeniz gerekli'
                        }
                    },
                    highlight:   function(element){
                        $(element).closest('.form-group').addClass('has-error');
                        $(element).parent().find('.form-control-feedback').removeClass('glyphicon-ok').addClass('glyphicon-remove');
                    },
                    unhighlight: function(element){
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                        $(element).parent().find('.form-control-feedback').removeClass('glyphicon-remove').addClass('glyphicon-ok');
                    },
                    errorClass: 'help-block',
                    errorPlacement: function(error , element){
                        if(element.parent('.input-group').length){
                            error.inserAfter(element.parent())
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            });
        