extends ../layout    


block content

    .container
        .panel.panel-primary
            .panel-heading
                h1.panel-title Kullanicilar
            .panel-body
                form(role='form' method='get' action='listele' style='\'display:inline\'')
                    .form-row
                        .col.col-xs-10
                            input(type='text' class='form-control' placeholder='Isme Gore Filtreler' name='isim')
                        .col.col-xs-2
                            input.btn.btn-primary.btn-block(type='submit' value='Filtrele')
            table.table.table-bordered(id='kullanicilar-tablosu')
                thead
                    tr
                        th #
                        th Rol
                        th Isim
                        th Telefon
                        th Email
                        th Islemler
                tbody
                    each kullanici, idx in kullanicilar
                        mixin sutunlar
                            td= idx + 1
                            td= global.Roller.getStr(kullanici.rol)
                            td= kullanici.isim
                            td= kullanici.telefon
                            td= kullanici.email
                            td
                                .dropdown
                                    button.btn.btn-success.btn-block.dropdown-toggle(type='button' id='actionsDropdownButton' data-toggle='dropdown') Islemler
                                        span.caret
                                    ul.dropdown-menu(role='menu' arialabelledby='actionsDropdownButton')
                                        li(role='presentation')
                                            form(role='form' method='get' action='goruntule' style='display : inline')
                                                input.btn.btn-md.btn-link.btn-block(type='submit' value='Goruntule')                                        
                                        li(role='presentation')
                                             form(id='deleteForm' class='delete-form' style='display : inline' role='form' method='post' action='kullaniciSil')
                                                input(type='hidden' name='silinecekler[]' value='#{kullanici.id}')
                                                input(type='hidden' name='yonlendir' value='/kullanici/listele')
                                                input.btn.btn-md.btn-link.btn-block(type='submit' value='Sil')
                                        if kullanici.rol === global.Roller.Ogrenci
                                            li(role='presentation')
                                                form(id='veliAtaForm' class='veli-ata-form' style='display : inline' role='form' action='veliAta')
                                                    input(type='hidden' name='id' value='#{kullanici.id}')
                                                    input.btn.btn-md.btn-link.btn-block(type='submit' value='Veli Ata')
                        case kullanici.rol
                            when global.Roller.Admin
                                tr
                                    +sutunlar
                            default
                                tr
                                    +sutunlar

    script.
        $('.delete-form').on('submit' , function(e){
            e.preventDefault();
            var form = this;
            bootbox.confirm({
                message :'Kullaniciyi silmek istediginize emin misiniz ?' ,
                title : '<b>Kullaniciyi Sil</b>' ,
                buttons : {
                    confirm : { label : 'Evet' , className : 'btn-success'},
                    cancel : { label : 'Hayir'}
                },
                callback : function(result){
                    if(result)
                        form.submit();
                }
            });
        });
    