extends ../layout

block content
    .container
        .panel.panel-primary
            .panel-heading
                h1.panel-title Veli Atama
            .panel-body
                .panel.panel-success
                    .panel-heading
                        h1.panel-title 
                            strong '#{isim}' 
                            |    ye veli atamak icin velinin yanindaki Ata tusuna basiniz
                if veliler.length > 0
                    table.table.table-bordered(id='veliler-tablo')
                        thead
                            tr
                                th #
                                th Isim
                                th Islemler
                        tbody
                            each veli , idx in veliler
                                tr
                                    td= idx + 1
                                    td= veli.isim
                                    td
                                        form(role='form' method='post' action='veliAta')
                                            input(type='hidden' name='veliId' value='#{veli.id}')
                                            input(type='hidden' name='ogrenciId' value='#{ogrenciId}')
                                            input.btn.btn-md.btn-primary.btn-block(type='submit' value='Ata')
                else
                    .panel.panel-warning
                        .panel-heading
                            h3.panel-title Sistemde Kayitli 'Veli' bulunamadi.
                                a(href='/kullanici/kullaniciEkle' target='_blank') Kullanici Eklemek Icin Tiklayiniz.